---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { XPCalc } from '../scripts/XPCalculator'
---

<Layout title="DM Tools.">
	<main>
		<h1><span class="text-gradient">D&D 5E</span> DM TOOL </h1>

		<form class='instructions'>
			<h2>Party XP Calculator</h2>
			<label for="partySize">Party Size</label>
			<input type="number" id="partySize" name="partySize" min="0" max="6" value="0">

			<div class="chr1">
				<label for="chr1">Character 1 Level:</label>
				<input type="number" id="chr1" name="chr1" min="1" max="20" value="1">
			</div>

			<div class="chr2">
				<label for="chr2">Character 2 Level:</label>
				<input type="number" id="chr2" name="chr2" min="1" max="20" value="1">
			</div>

			<div class="chr3">
				<label for="chr3">Character 3 Level:</label>
				<input type="number" id="chr3" name="chr3" min="1" max="20" value="1">
			</div>

			<div class="chr4">
				<label for="chr4">Character 4 Level:</label>
				<input type="number" id="chr4" name="chr4" min="1" max="20" value="1">
			</div>

			<div class="chr5">
				<label for="chr5">Character 5 Level:</label>
				<input type="number" id="chr5" name="chr5" min="1" max="20" value="1">
			</div>

			<div class="chr6">
				<label for="chr6">Character 6 Level:</label>
				<input type="number" id="chr6" name="chr6" min="1" max="20" value="1">
			</div>
			<!-- return total xp needed -->
			<button type="submit">Calculate</button>
			<!-- display totalXp -->
			<div><label id="Party">Total XP Needed: 0</label></div>
			<div><label id="easy">Easy Difficulty: 0</label></div>
			<div><label id="medium">Medium Difficulty: 0</label></div>
			<div><label id="hard">Hard Difficulty: 0</label></div>
			<div><label id="deadly">Deadly Difficulty: 0</label></div>

		</form>

	</main>
</Layout>
<code>
	<script>
		// get form elements
		let partySize = document.getElementById('partySize');
		let chr1 = document.querySelector('.chr1');
		let chr2 = document.querySelector('.chr2');
		let chr3 = document.querySelector('.chr3');
		let chr4 = document.querySelector('.chr4');
		let chr5 = document.querySelector('.chr5');
		let chr6 = document.querySelector('.chr6');

		// hides all character input fields by default
		chr1.style.display = 'none';
		chr2.style.display = 'none';
		chr3.style.display = 'none';
		chr4.style.display = 'none';
		chr5.style.display = 'none';
		chr6.style.display = 'none';

		// displays character input fields based on party size
		partySize.addEventListener('change', function() {
			if (partySize.value == 1) {
				chr1.style.display = 'block';
				chr2.style.display = 'none';
				chr3.style.display = 'none';
				chr4.style.display = 'none';
				chr5.style.display = 'none';
				chr6.style.display = 'none';
			} else if (partySize.value == 2) {
				chr1.style.display = 'block';
				chr2.style.display = 'block';
				chr3.style.display = 'none';
				chr4.style.display = 'none';
				chr5.style.display = 'none';
				chr6.style.display = 'none';
			} else if (partySize.value == 3) {
				chr1.style.display = 'block';
				chr2.style.display = 'block';
				chr3.style.display = 'block';
				chr4.style.display = 'none';
				chr5.style.display = 'none';
				chr6.style.display = 'none';
			} else if (partySize.value == 4) {
				chr1.style.display = 'block';
				chr2.style.display = 'block';
				chr3.style.display = 'block';
				chr4.style.display = 'block';
				chr5.style.display = 'none';
				chr6.style.display = 'none';
			} else if (partySize.value == 5) {
				chr1.style.display = 'block';
				chr2.style.display = 'block';
				chr3.style.display = 'block';
				chr4.style.display = 'block';
				chr5.style.display = 'block';
				chr6.style.display = 'none';
			} else if (partySize.value == 6) {
				chr1.style.display = 'block';
				chr2.style.display = 'block';
				chr3.style.display = 'block';
				chr4.style.display = 'block';
				chr5.style.display = 'block';
				chr6.style.display = 'block';
			}
		});		

		// function to calculate total xp needed for party and difficulty
		const form = document.querySelector('form');
		form.addEventListener('submit', function(e) {
			e.preventDefault();
			const partySize = document.getElementById('partySize').value;
			const chr1 = document.getElementById('chr1').value;
			const chr2 = document.getElementById('chr2').value;
			const chr3 = document.getElementById('chr3').value;
			const chr4 = document.getElementById('chr4').value;
			const chr5 = document.getElementById('chr5').value;
			const chr6 = document.getElementById('chr6').value;

			//pass the function the party size and the character levels
			XPCalc(partySize, chr1, chr2, chr3, chr4, chr5, chr6);
			
			//return function results to the page
			document.getElementById('party').textContent = `Party XP Threshold: ${XPCalc.totalXpParty}`;
			document.getElementById('easy').textContent = `Easy Mode Encounter XP: ${XPCalc.totalXpEasy}`;
			document.getElementById('medium').textContent = `Medium Mode Encounter XP: ${XPCalc.totalXpMedium}`;
			document.getElementById('hard').textContent = `Hard Mode Encounter XP: ${XPCalc.totalXpHard}`;
			document.getElementById('deadly').textContent = `Deadly Mode Encounter XP: ${XPCalc.totalXpDeadly}`;

		});
	</script>
</code>	
<style>
	main {
		margin: auto;
		padding: 3rem;
		max-width: 80ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	#hidden {
		display: none;
	}
</style>
